@model MusicManager.Domain.Dtos.Genre.GenreEditDto

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" autofocus />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>