<div id="confirmDeleteModalContainer"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <strong id="deleteItemName"></strong>?
            </div>
            <div class="modal-footer">
                <!form hx-delete="@Url.Page("./Index")"
                       @* Only include the item Id - do not include the Anti Forgery Token in the URL params
                       - the token will be added to the request headers with custom code *@
                       hx-params="deleteItemId"
                       hx-disabled-elt="find fieldset">
                    <fieldset>
                        <input id="deleteItemId" name="deleteItemId" type="hidden" value="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        @Html.AntiForgeryToken()
                    </fieldset>
                </!form>
            </div>
        </div>
    </div>
</div>