@model MusicManager.Domain.Dtos.BaseViewDto

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@ViewData["TypeDisplayName"] Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            @* The "_DetailsModal.cshtml" file from the folder containing the calling Index.cshtml.cs will be used *@
            @await Html.PartialAsync("_DetailsModal", Model, ViewData)
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>