@model PagingData 

<form asp-page="./Index" method="get" hx-boost="true" class="form-inline justify-content-end">
    <input type="text" name="searchString" value="@Model[ParamName.CurrentFilter]" class="form-control mr-2 w-50" />
    @foreach (var param in Model.Parameters)
    {
        if (!string.IsNullOrWhiteSpace(param.Value)
            && param.Key != ParamName.PageIndex) // go to page 1 of search results
        {
            <input type="hidden" name="@param.Key" value="@param.Value" />
        }
    }
    <button type="submit" class="btn btn-primary">
        <i class="bi-search" role="img" aria-label="Search"></i>
        Search
    </button>
    @if (!string.IsNullOrWhiteSpace(Model[ParamName.CurrentFilter]))
    {
        <a hx-boost="true" asp-page="./Index" asp-all-route-data="Model.ParametersExcept(ParamName.CurrentFilter, ParamName.PageIndex)" class="btn btn-secondary ml-2">
            <i class="bi-backspace" role="img" aria-label="Clear"></i>
            Clear
        </a>
    }
</form>