<div id="itemModalContainer"
     class="modal fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document"></div>
</div>