<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Music Manager</title>

    <link rel="stylesheet" href="~/styles/vendor.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/main.bundle.css" asp-append-version="true" />
    
    @* Scripts must be in head, or else there are problems with Bootstrap modals when using hx-boost *@
    <script defer src="~/scripts/vendor.bundle.js" asp-append-version="true"></script>
    <script defer src="~/scripts/main.bundle.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a hx-boost="true" class="navbar-brand" asp-page="/Index">Music Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a hx-boost="true" class="nav-link text-dark" asp-page="/Genres/Index">Genres</a>
                        </li>
                        <li class="nav-item">
                            <a hx-boost="true" class="nav-link text-dark" asp-page="/Artists/Index">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a hx-boost="true" class="nav-link text-dark" asp-page="/Albums/Index">Albums</a>
                        </li>
                        <li class="nav-item">
                            <a hx-boost="true" class="nav-link text-dark" asp-page="/Tracks/Index">Tracks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main id="main-content" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            Music Manager - <a hx-boost="true" asp-page="/Index">Home</a>
        </div>
    </footer>
</body>
</html>
